*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
}
section{
    height: 100%;
    width: 100%;
    /* background-color: bisque; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 60px 100px;
}
.page2{
    display: flex;
    align-items: center;
    gap: 70px;

}

nav h1{
    font-size: 50px;
    
}
nav .page2 h4{
    font-size: 30px;
    font-weight: 500;

}
nav .page2 button {
    padding: 22px 40px;
    font-size: 22px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
}
nav h1 i{
   display: inline-block;
   rotate: 45deg;  
}
.center{
    padding: 70px 100px;
/* background-color: red; */
height: 85%;
width: 100%;
display: flex;
}
.center-part1{
    /* background-color: lightblue; */
    height: 100%;
    width: 42%;
}

.center-part1 h1{
    font-size:110px ;
    line-height: 1.2;
    font-family: monospace;
    /* background-color: red; */
}
.center-part1 p{
    font-size: 30px;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 35px;

}
.center-part1 button{
    color: white;
    background-color: black;
    border-radius: 15px;
    padding: 28px 40px;
    font-size: 25px;
    font-weight: 500;
    border: none;
}


.center-part2{
    /* background-color: lightblue; */
    height: 100%;
    width: 56%;
    position: relative;
}
.center-part2 img{
    height: 100%;
    position: absolute;
    right: 0;   
}
.section1bottom{
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
}
.section1bottom img{
    height: 60px;
}
.section2 .services {
  /* background-color: red; */
  padding: 40px 120px;
  align-items: flex-start;
  justify-content: center;
  /* display: flex; */
  gap: 20px;
  margin-top: 30px;

}
.services h3{
    background-color: #B9FF66;
   
   width: 10%;
 
   padding: 5px 10px 0 10px;
   border-radius: 5px;
   font-size: 60px;


}
.services p{
    width: 40%;
    font-size: 20px;
    font-weight: 500;
}
.container {
    height: 80%;
    width: 100%;
    padding
}